<div class="card card-container">
    <div class="card-header">
        <h3 class="title">Table</h3>
    </div>
    <div class="card-body">
        <div class="chart-container">
            <table class="table">
                <tr>
                    <td>A</td>
                    <td>{{a}}</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>{{b}}</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>{{c}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>